{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Data Tables
            <small>advanced tables</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Tables</a></li>
            <li class="active">Data tables</li>
          </ol>
        </section>
    
<section class="content">
        <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title">All Device</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>Name of Device </th>
                    <th>price</th>
                    <th>Description</th>
                    <th>date created</th>
                    <th>Update</th>
                  </tr>
                  </thead>
                  <tbody>
            {% for object in object_list %}
                  <tr>
                    <td>{{ object.name }}</td>
                    <td>{{ object.price }}</td>
                    <td>{{ object.description }}</td>
                    <td>{{ object.date_created }}</td>
                    <td><a href="" >Update</a></td>
                  </tr>
            {% endfor %}
                  </tbody>
                
                </table>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
  
            
            <!-- /.box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </section>
  
{% endblock %}