{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <!-- Main content -->
        <section class="content" style="margin-top: 3%">   
        <form action="./" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Create New Device</h3>
                    </div>
                    
                    <div class="box-body">
                        <div class="input-group">
                            <span class="input-group-addon">@</span>
                            {{ form.serial_id }}
                        </div>
                    </div>
                    
                    <div class="box-body">
                            <div class="input-group">
                            <span class="input-group-addon">@</span>
                            {{ form.user_id }}
                    </div>
                    </div>
                    
                    <div class="box-body">
                            <div class="input-group">
                            <span class="input-group-addon">@</span>
                            {{ form.meter_id }}
                    </div>
                    </div>


                    <div class="box-body">
                            <div class="input-group">
                            <span class="input-group-addon">@</span>
                            {{ form.token_type }}
                    </div>
                    </div>

                    <div class="box-body">
                        <div class="input-group">
                        <span class="input-group-addon">@</span>
                        {{ form.phone_number }}
                </div>
            

                   

                    
                    <input type="submit" value="send" />
                    </div>
                </div>
            </form>    
{% endblock %}