{% extends "base.html" %}
{% load static %}
{% block content %}



<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Data Tables
            <small>advanced tables</small>
            <form style="margin-top:20" method="GET" action="/dashboard/search/">
              <input class="form-control mr-sm-2" type="text" placeholder="Search here ........" value="{{request.GET.q}}" name="q" >
              <input type="submit" value="Search" />
            </form> 
            
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Tables</a></li>
            <li class="active">Data tables</li>
          </ol>
        </section>
    
<section class="content">
        <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title">All sold water </h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>Client Name</th>
                    <th>product Name</th>
                    <th>Machine Number</th>
                    <th>quantity</th>
                    <th>total_price</th>
                    <th>token</th>
                    <th>phone number</th>
                    <th>Date created</th>
                    <th>path</th>
                    <th>status</th>
                  </tr>
                  </thead>
                  <tbody>
            {% for object in object_list %}
                  <tr>
                    <td>{{ object.name }}</td>
                    <td>{{ object.product }}</td>
                    <td>{{ object.machineId }}</td>
                    <td>{{ object.quantity }}</td>
                    <td>{{ object.amount }}</td>
                    <td>{{ object.token }}</td>
                    <td>{{ object.phone_number }}</td>
                    <td>{{ object.date_created }}</td>
                    <td>{{ object.path }}</td>
                    <td>{{ object.status }}</td>
                  </tr>
            {% endfor %}
                  </tbody>
                
                </table>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
  
            
            <!-- /.box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </section>
  
{% endblock %}