{% extends "base.html" %}
{% load static %}
{% block content %}



<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        
    
        <!-- Main content -->
        <section class="content" style="margin-top: 3%">

        
        <form action="./" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Create New Device</h3>
                    </div>

                    <div class="box-body">
                        <div class="input-group">
                            <span class="input-group-addon">@</span>
                            {{ form.name }}
                        </div>
                    </div>
                    <div class="box-body">
                            <div class="input-group">
                            <span class="input-group-addon">@</span>
                            {{ form.code }}
                            </div>
                        </div>
                    
                        <div class="box-body">
                            <div class="input-group">
                                <span class="input-group-addon">@</span>
                                        {{ form.method }}
                                </div>
                            </div>

                    <div class="box-body">
                        <div class="input-group">
                            <span class="input-group-addon">@</span>
                                    {{ form.category }}
                            </div>
                        </div>

                        
                    <input type="submit" value="send" />
                    </div>
                </div>
            </form>

          
{% endblock %}