{% extends "base.html" %}
{% load static %}
{% block content %}



<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
   
            <form style="margin-top:20" method="GET" action="/dashboard/search/">
              <input class="form-control mr-sm-2" type="text" placeholder="Search here ........" value="{{request.GET.q}}" name="q" >
              <input type="submit" value="Search" />
            </form> 
  
   
            <section class="content">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="box">
                      <div class="box-header">
                        <h3 class="box-title">All Device</h3>
                      </div>
                      <!-- /.box-header -->
                      <div class="box-body">
                        <table id="example2" class="table table-bordered table-hover">
                          <thead>
                          <tr>
                            <th>Client Name</th>
                            <th>product Name</th>
                            <th>Machine Number</th>
                            <th>quantity</th>
                            <th>total_price</th>
                            <th>code</th>
                            <th>phone number</th>
                            <th>Date created</th>
                            <th>path</th>
                          </tr>
                          </thead>
                          <tbody>
                    {% for object in object_list %}
                          <tr>
                            <td>{{ object.name }}</td>
                            <td>{{ object.product }}</td>
                            <td>{{ object.machineId }}</td>
                            <td>{{ object.quantity }}</td>
                            <td>{{ object.total_price }}</td>
                            <td>{{ object.code }}</td>
                            <td>{{ object.phone_number }}</td>
                            <td>{{ object.date_created }}</td>
                            <td>{{ object.path }}</td>
                           
                          </tr>
                    {% endfor %}
                          </tbody>
                        
                        </table>
                      </div>
                      <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
          
                    
                    <!-- /.box -->
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </section>
              </div>
              
{% endblock %}